<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="wsHttpBinding_IProductLineService" />
                <binding name="wsHttpBinding_ICustomerOrderService" />
                <binding name="wsHttpBinding_ICustomerService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8082/Service" binding="wsHttpBinding"
                bindingConfiguration="wsHttpBinding_ICustomerOrderService"
                contract="CustomerOrderServiceReference.ICustomerOrderService"
                name="wsHttpBinding_ICustomerOrderService" />
            <endpoint address="http://localhost:8083/Service" binding="wsHttpBinding"
                bindingConfiguration="wsHttpBinding_ICustomerService" contract="CustomerServiceReference.ICustomerService"
                name="wsHttpBinding_ICustomerService" />
            <endpoint address="http://localhost:8081/Service" binding="wsHttpBinding"
                bindingConfiguration="wsHttpBinding_IProductLineService"
                contract="ProductLineServiceReferencee.IProductLineService"
                name="wsHttpBinding_IProductLineService" />
        </client>
    </system.serviceModel>
</configuration>