<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <client>
            <endpoint address="http://localhost:8082/Service" binding="basicHttpBinding"
                contract="CustomerOrderServiceReference.ICustomerOrderService"/>
            <endpoint address="http://localhost:8083/Service" binding="basicHttpBinding"
                contract="CustomerServiceReference.ICustomerService"/>
            <endpoint address="http://localhost:8081/Service" binding="basicHttpBinding"
                contract="ProductLineServiceReferencee.IProductLineService"/>
        </client>
    </system.serviceModel>
</configuration>

