<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
          <netHttpBinding>
                <binding name="netHttpBinding_IProductLineService" />
                <binding name="netHttpBinding_ICustomerOrderService" />
                <binding name="netHttpBinding_ICustomerService" />
            </netHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8082/Service" binding="netHttpBinding"
                bindingConfiguration="netHttpBinding_ICustomerOrderService"
                contract="CustomerOrderServiceReference.ICustomerOrderService"
                name="netHttpBinding_ICustomerOrderService" />
            <endpoint address="http://localhost:8083/Service" binding="netHttpBinding"
                bindingConfiguration="netHttpBinding_ICustomerService" contract="CustomerServiceReference.ICustomerService"
                name="netHttpBinding_ICustomerService" />
            <endpoint address="http://localhost:8081/Service" binding="netHttpBinding"
                bindingConfiguration="netHttpBinding_IProductLineService"
                contract="ProductLineServiceReferencee.IProductLineService"
                name="netHttpBinding_IProductLineService" />
        </client>
    </system.serviceModel>
</configuration>

